:root {
  --beige: rgb(249, 244, 218);
  --coal: #0f0d0e;
  --purple: #646cff;
  --purple-dark: #535bf2;
  --purple-light: #6c71fa;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--beige);
  background-color: var(--coal);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  min-width: 320px;
  display: flex;
  place-items: center;
}

p {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--purple);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: var(--purple-dark);
}
